.list {
    width: 90%;
    margin: auto;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 150px;
    row-gap: 50px;
}

/* .sc-kTvvXX {
    background-color: #202c37 !important;
    width: 40vw !important;
    height: 450px;
} */

.circle {
    border: 5px solid black;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}
.wave {
    position: relative;
    width: 200%;
    height: 200%;
    right: 50%;
    transform-origin: 50% 50%;
    border-radius: 50% 80%;
    animation: spin 3s infinite linear;
}

.percentage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.6);
    font-size: 80px;
    font-weight: 1000;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}
