.list {
    width: 90%;
    margin: auto;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 150px;
    row-gap: 50px;
}

.sc-kTvvXX {
    background-color: #202c37 !important;
    width: 40vw !important;
    height: 450px;
}
